@font-face {
    font-family: "pixel-book";
    src: url('fonts/PixelBook-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PressStart2P";
    src: url('fonts/PressStart2P.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #000000;
    margin: 0;
    line-height: 1.6;
}
.portfolio-nav {
    background-color: #000000;
    color: white;
    padding: 2rem 2rem;
    text-align: center;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}
.portfolio-nav h3 {
    font-family: "PressStart2P";
    font-size: 1.2rem;
}
.container {
    max-width: 1100px;
    margin: auto auto;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu-options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: center;
}

.menu-options a {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'PressStart2P';
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 1rem 4rem 1rem;
    gap: 2rem;
    max-width: 1100px;
    margin: auto;
}
.hero-text h1 {
    color: whitesmoke;
    font-family: 'pixel-book';
    letter-spacing: 0.7rem;
    font-size: 7rem;
    margin: 0;
}
.hero-text h2 {
    color: whitesmoke;
    font-family: 'PressStart2P';
    font-size: 1.5rem;
    margin-top: 0.3rem;
}
.hero-image img {
    width: 250px;
    height: auto;
    border-radius: 8px;
}
.menu-options a span {
  position: relative;
  display: inline-block;
  padding-left: 1.2rem;
  transition: padding-left 0.2s ease;
}

.menu-options a span::before {
  content: '>';
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
  color: whitesmoke;
}

.menu-options a:hover span {
  padding-left: 1.8rem;
}

.menu-options a:hover span::before {
  opacity: 1;
}

.logo {
    padding: 0.6rem;
    height: 32px;
    width: 32px;
}
.logo:hover {
    transform: scale(1.3);
}

@media (max-width: 768px) {
    
    .hero {
        flex-direction: column;
        text-align: center;
    }
    
    .hero-image img {
        width: 200px;
    }
}